<!DOCTYPE html>
<html>
<style type="text/css">
    html, body {
        min-height: 100%;
    }
    body {
        margin:40px auto;
        width:320px;
        height:600px;
        touch-action: manipulation;
    }
    .options{
        background-color:purple;
        color:white;
        padding:10px;
        text-decoration: none;
        margin:10px;
        outline:solid 5px black;
        font-size:20px;
        width:140px;
    }
    .options:hover{
        outline-width: 7px;
    }
    h1{
        color:crimson;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-style:italic;
        text-align: center;
        font-size:42px;
    }
    h2{
        color:dodgerblue;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        text-align: center;
        white-space: pre-line;
    }
    a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color:white;
    }
    .nums{
        width:320px;
        height:70px;
        overflow: hidden;
    }
    #two,#twomd,#tworem{
        float:left;
    }
    #three,#threemd,#threerem{
        float:right;
    }
    input{
        border:0px;
    }
    .ghost-button {
        width:300px;
        height:65px;
        background-color: transparent;
        border:2px solid #ddd;
        padding:10px 5px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
    }
    .ghost-button:hover {
        border:2px solid #515151;
    }
    #left{float:left;width:30px;font-size:24px;text-align:center;}
    #right{float:right;width:75px;font-size:24px;text-align:center;}
    #center{margin:auto auto;width:165px;font-size:24px;text-align:center;}
    img{
        width:30px;
        height:30px;
        float:right;
        margin: auto 5px;
    }
    h4{
        border:0px auto;
        margin:0px 0px;
    }
    #language{
        float:right;width:95px;font-size:20px;text-align:center;border:2px;background-color:lightskyblue;
    }
</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Quick Math</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
</head>

<body>
    <form action="/log" method="post" id="container">
        <input id="back" type="submit" formaction="/backl" value= "Back" style="background-color:crimson; border:2px; font-size: 20px; width:95px; text-align:center; color:white;">
        <input type="submit" id="language" name="language" value="<%- language %>" formaction="/language">
        <input type="hidden" id="doc" name="title" value="Log">
        <div>
            <h1 id="title">Log</h1>
        </div>

        <input type="hidden" id="nolog" name="nolog" value="You don't have any entries yet!">
        
        <input type="hidden" id="selection" name="selection" value="log">
        <input type="hidden" id="username" name="username" value="<%- username %>">
        <input type="hidden" id="logtype" name="logtype" value="<%- logtype %>">
    </form>

    <!--<div style="float:left;width:85px;"><h4 style="text-align:center;">Time</h4></div>
    <div style="float:left;width:150px;"><h4 style="text-align:center;">Game Length</h4></div>
    <div style="float:left;width:85px;"><h4 style="text-align:center;">Streak</h4></div>-->

    
    <script>
        var languages = "<%- language %>";
        var logtype = "<%- logtype %>";
        if(languages===""){
            languages="en";
        }                        
        function switchlang(){
            //alert(languages);

            if(languages === "en"){
                document.getElementById("back").value = "Back";
                document.getElementById("language").value = "English";
                document.getElementById("title").textContent = logtype + " Log";
            }
            if(languages === "zh"){
                document.getElementById("back").value = "退出";
                document.getElementById("back").style.fontWeight = "bold";
                document.getElementById("language").value = "中文";
                document.getElementById("language").style.fontWeight = "bold";
                var logzh = "";
                if(logtype === "Full"){
                    logzh = "所有";
                }
                if(logtype === "Daily"){
                    logzh = "今天";
                }
                document.getElementById("title").textContent = logzh +"记录";
                document.getElementById("title").style.fontWeight = "bold";
            }
        }
        switchlang();
    </script>
    <!--<div style = "width:300px;height:65px;background-color: transparent;border:2px solid #ddd;padding:10px 10px;-webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;-ms-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;">
        <div style="display:block">
            <div style="float:left;height:54px;">
                <div style="display:block; font-weight:bold;">jz</div>
                <div style="display:block">06:34 - 2018-07-13</div>
                <div style="display:block;">Add/Subtract 2 Numbers</div>
            </div>
            <div style="">
                <div id="right" style="float:right;margin-top:5px;text-align:right;">
                    <h4><img src="/images/flame.png" alt="streak flame"></h4>
                    <h4>4</h4>
                    <div style="display:block; text-align:center;margin-top:5px;font-size:16px;">Time: 50s</div>
                </div>    
            </div>
        </div>
    </div>-->
    <!--<div style="float:left;height:54px;">
        <div style="display:block;font-size:30px;margin-top:5px;">time</div>
    </div>
    <div id="right" style="text-align:right;margin-top:10px;">
        <h4><img src="/images/flame.png" alt="streak flame"></h4>
        <h4><div style="font-size:24px">0</div></h4></div>
    <div style="display:block;text-align:center;margin-top:10px;font-size:24px;float:center;">'+arrtspent[i]+'</div>-->
    <script>
        if(datauser===""){
            console.log("nolog");
            document.getElementById("nolog").setAttribute("type","submit");
            document.getElementById("nolog").className="ghost-button";
        }else{
            var datauser =  "<%- datauser %>";
            var arrusers = datauser.split(",");
            var datatstart = "<%- datatstart %>";
            var arrtstart = datatstart.split(",");
            var category = "<%- category %>";
            var arrcategory = category.split(",");
            var datanum = "<%- num %>";
            var arrnum = datanum.split(",");
            var datatspent = "<%- datatspent %>";
            var arrtspent = datatspent.split(",");
        }
    </script>

    <% if(logtype === "Full"){ %>
        <script> 
            var datauser =  "<%- datauser %>";
            var arrusers = datauser.split(",");
            var datatstart = "<%- datatstart %>";
            var arrtstart = datatstart.split(",");
            var category = "<%- category %>";
            var arrcategory = category.split(",");
            var datanum = "<%- num %>";
            var arrnum = datanum.split(",");
            var datatspent = "<%- datatspent %>";
            var arrtspent = datatspent.split(",");
            
            var number = arrusers.length;
            var container = document.getElementById("container");
            if(datauser===""){
                console.log("nolog");
                document.getElementById("nolog").setAttribute("type","submit");
                document.getElementById("nolog").className="ghost-button";
            }else{
                var thisdate = "";
                for(i=0;i<arrusers.length;i++){
                    var datetime = arrtstart[i].split(" ");
                    var date = datetime[0];
                    if(date!==thisdate){
                        var newday = document.createElement("h2");
                        newday.textContent = date;
                        container.appendChild(newday);
                        var bigdiv = document.createElement("h3");
                        bigdiv.style.display="block";
                        bigdiv.style.width="320px";
                        bigdiv.innerHTML='<div style="display:block;height:16px;"><div style="float:left;width:85px;"><h4 style="text-align:center;">Time</h4></div>'+
                        '<div style="float:left;width:150px;"><h4 style="text-align:center;">Game Length</h4></div>'+
                        '<div style="float:left;width:85px;"><h4 style="text-align:center;">Streak</h4></div></div>';
                        container.appendChild(bigdiv);
                    }
                    thisdate = date;
                    var time = datetime[1];
                    /*var categorytype = 0;
                    if(arrcategory[i].substring(3)==="as"){
                        categorytype = "Add/Subtract";
                    }
                    if(arrcategory[i].substring(3)==="md"){
                        categorytype = "Multiply/Divide";
                    }
                    if(arrcategory[i].substring(3)==="rm"){
                        categorytype = "Remainder";
                    }*/
                    var minutes = Math.floor(arrtspent[i]/60);
                    var seconds = arrtspent[i]%60;
                    if(languages)
                    if(minutes>0){
                        arrtspent[i] = minutes+"m "+seconds+"s";
                    }else{
                        arrtspent[i] = seconds+"s";
                    }
                    
                    var input = document.createElement("div");
                    input.name = "rank "+ (i+1);
                    input.style.width = "297px";
                    input.style.padding="10px 10px";
                    input.style.height = "50px";
                    input.className = "ghost-button";//'<div style = "width:300px;height:65px;background-color:transparent;border:2px solid #ddd;padding:10px 10px;-webkit-transition: all 0.1s ease-in-out;-moz-transition: all 0.1s ease-in-out;-ms-transition: all 0.1s ease-in-out;-o-transition: all 0.1s ease-in-out;transition: all 0.1s ease-in-out;">'
                    input.innerHTML = '<div style="float:left;height:54px;"><div style="display:block;font-size:30px;margin-top:5px;">'+time.substring(0,5)+'</div>'+'</div>'+
                            '<div id="right" style="text-align:right;margin-top:10px;"><h4><img src="/images/flame.png" alt="streak flame"></h4><h4>'+arrnum[i]+'</h4></div>'+
                                '<div style="display:block;text-align:center;margin-top:6px;font-size:28px;float:center;">'+arrtspent[i]+'</div>';
                    container.appendChild(input);
                }
            }
        </script>
    <% } %>
    <noscript>Sorry, it looks like your browser doesn't support Javascript or have it enabled.</noscript>

</body>
</html>