<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Quick Math</title>
    <link rel="stylesheet" type="text/css" href="/css/question.css">
</head>

<body>
    <form action="/header" method="post">
        <input id="back" type="submit" formaction="/back" value= "Back" style="background-color:crimson; border:2px; font-size: 20px; width:75px; text-align:center; color:white;">
        <input type="hidden" id="doc" name="title" value="Problem">
        <input id="hs" name="hs" type="hidden" value="<%- hs %>">
        <input id="lang" name="lang" type="hidden" value="<%- language %>">
        <input id="user" name="username" type="hidden" value="<%- username %>">
        <input id="session" name="session" type="hidden" value="<%- session %>">
        <div style="float:right;">
            <!--<div style="width:110px;display:block;float:right;text-align:right;">
                <h2 id="total" style="color:deepskyblue;display:inline;font-size:18px;text-align:right;font-family:sans-serif">Total:</h2>
                <h2 id="totalnum" style="color:deepskyblue;display:inline;font-size:18px;text-align:right;font-family:sans-serif">0</h2>
            </div>-->
            <div>
                <h2 id="currentbest" style="color:crimson;display:inline;font-size:18px;text-align:center;font-family:sans-serif;">Highest Streak:</h2>
                <h2 id="hstreak" style="color:crimson;display:inline;font-size:18px;text-align:right;font-family:sans-serif;">0</h2>
            </div>
        </div>
        <div style="display:block;">
            
            <!--<div style="width:105px;display:block;">
                <h3 id="currentbest" style="color:crimson;display:inline;visibility:hidden;font-size:18px;text-align:center;font-family:'Courier New', Courier, monospace">Current Best</h>
            </div>-->
            <div style="display:block;margin-top:20px;float:right;">
                <input id="streakhs" name="streak" type="hidden" value="0">
                <input id="streaktotal" name="streaktotal" type="hidden" value="0">
                <h2 id="streak" style="margin:0px 0px;">0</h2>
                <h2 style="float: right; margin:0px 0px;"><img src="/images/flame.png" alt="streak flame"></h2>
                <input id="higheststreak" name="higheststreak" type="hidden" value="0"> <!--for this game-->
                <input id="dbhigheststreak" name="dbhigheststreak" type="hidden" value="0"> <!--for all plays across all players-->
                <input id="part1miss" name="part1miss" type="hidden" value="">
                <input id="signmiss" name="signmiss" type="hidden" value="">
                <input id="part2miss" name="part2miss" type="hidden" value="">
                <input id="sign2miss" name="sign2miss" type="hidden" value="">
                <input id="part3miss" name="part3miss" type="hidden" value="">
                <input id="kidanswer" name="kidanswer" type="hidden" value="">
                <input id="correctanswer" name="correctanswer" type="hidden" value="">
                <input id="numwrong" name="numwrong" type="hidden" value="">
            </div>
        </div>
    </form>

    <table id="probtable" style="display:block;margin-top:10px;margin-bottom:0px;">
        <tr>
            <% if(category === "two"){ %>
                <td><h2 id="part1" class="prob">123</h2></td>
                <td><h2 id="sign" class="prob"><%= sign %></h2></td>
                <td><h2 id="part2" class="prob">123</h2></td>
            <% } %>
            <% if(category === "three"){ %>
                <td><h2 id="part1" class="prob">123</h2></td>
                <td><h2 id="sign" class="prob"><%= sign %></h2></td>
                <td><h2 id="part2" class="prob">123</h2></td>
                <td><h2 id="sign2" class="prob"><%= sign %></h2></td>
                <td><h2 id="part3" class="prob">123</h2></td>
            <% } %>
        </tr>
    </table>
    
    <% include ../views/partials/numpad %>
    <% if(category === "two"){ %>
        <script>
            var part1missed = [];
            var signmissed = [];
            var part2missed = [];
            var kidanswer = [];
            var correctanswer = [];

            var result=0;
            var streaknum = 0;
            
            var languages = "<%- language %>";
            var session = "<%- session%>";
            console.log(session);

            if(languages==="en"){
                document.getElementById("enter").textContent="ENTER";
                document.getElementById("back").value = "Back";
            }
            if(languages==="zh"){
                document.getElementById("enter").textContent="抢答";
                document.getElementById("enter").style.fontWeight="bold";
                document.getElementById("back").value = "退出";
                document.getElementById("back").style.fontWeight="bold";

            }
            function addText(clicked_id) {
                if(document.getElementById("answer").textContent.length<12)
                    document.getElementById("answer").textContent = document.getElementById("answer").textContent + clicked_id;
            }
            function removeText(){
                if(document.getElementById("answer").textContent.length>2){
                    var str = document.getElementById("answer").textContent;
                    str = str.substring(0, str.length - 1);
                    document.getElementById("answer").textContent = str;
                }    
            }
            function randomNum(){
                var a = Math.floor((Math.random() * 100) + 1);
                var b = Math.floor((Math.random() * 100) + 1);

                var c=0;
                if(((Math.random()*100) + 1)>50)
                    c = 1;

                var probtable = document.getElementById("probtable");
                var items = probtable.getElementsByTagName("h2");
                var signs = items[1].textContent;
                if(c==0){
                    if(signs==="+"||signs==="-"){
                        items[1].textContent="+";
                        result = a+b;
                    }
                    if(signs==="x"||signs==="/"){
                        items[1].textContent="x";
                        result = a*b;
                    }
                    
                }else{
                    if(signs==="+"||signs==="-"){
                        items[1].textContent="-";
                        if(b>a){
                            var m = a;
                            a = b;
                            b = m;
                        }
                        result = a-b;
                    }
                    if(signs==="x"||signs==="/"){
                        items[1].textContent="/";
                        result = a;
                        a = a*b;
                    }  
                }
                if(signs===""||signs==="%"){
                    var b = Math.floor((Math.random() * 30) + 3);
                    items[1].textContent="%";
                    if(a<b){
                        var m = a;
                        a=b;
                        b=m;
                    }
                    result = a%b;
                }

                items[0].textContent = a;
                items[2].textContent = b;
            }
            var totalsolved = 0;
            var highscore = 0;
            var numwrong = 0;
            function compare(){
                var answers = document.getElementById("answer").textContent;
                var probtable = document.getElementById("probtable");
                var items = probtable.getElementsByTagName("h2");
                
                if(answers.substring(2) == result){
                    //document.getElementById("currentbest").style.visibility="hidden";
                    streaknum++;
                    totalsolved++;
                    if(streaknum>highscore){
                        highscore = streaknum;
                    }
                }else{
                    //document.getElementById("currentbest").style.visibility="visible";
                    part1missed.push(items[0].textContent);
                    signmissed.push(items[1].textContent);
                    part2missed.push(items[2].textContent);
                    kidanswer.push(document.getElementById("answer").textContent.substring(2));
                    correctanswer.push(result);
                    //alert(part1missed.toString());
                    document.getElementById("part1miss").value = part1missed.toString();
                    document.getElementById("signmiss").value = signmissed.toString();
                    document.getElementById("part2miss").value = part2missed.toString();
                    document.getElementById("kidanswer").value = kidanswer.toString();
                    document.getElementById("correctanswer").value = correctanswer.toString();
                    numwrong++;
                    streaknum=0;
                }
                //document.getElementById("totalnum").textContent = totalsolved;
                document.getElementById("higheststreak").value = highscore;
                document.getElementById("hstreak").textContent = highscore;
                document.getElementById("streaktotal").value = totalsolved;
                document.getElementById("streakhs").value = streaknum;
                document.getElementById("streak").textContent = streaknum;
                document.getElementById("answer").textContent = "= ";
                document.getElementById("numwrong").value=numwrong;

                randomNum();
            }
            randomNum();
        </script>
    <% } %>

    <% if(category === "three"){ %>
        <script>
            var part1missed = [];
            var signmissed = [];
            var part2missed = [];
            var sign2missed = [];
            var part3missed = [];
            var kidanswer = [];
            var correctanswer = [];

            var result=0;
            var streaknum = 0;
            var languages = "<%- language %>";

            if(languages==="en"){
                document.getElementById("enter").textContent="ENTER";
                document.getElementById("back").value = "Back";
            }
            if(languages==="zh"){
                document.getElementById("enter").textContent="抢答";
                document.getElementById("back").value = "退出";
            }
            function addText(clicked_id) {
                if(document.getElementById("answer").textContent.length<12)
                    document.getElementById("answer").textContent = document.getElementById("answer").textContent + clicked_id;
            }
            function removeText(){
                if(document.getElementById("answer").textContent.length>2){
                    var str = document.getElementById("answer").textContent;
                    str = str.substring(0, str.length - 1);
                    document.getElementById("answer").textContent = str;
                }    
            }
            function randomNum(){
                var probtable = document.getElementById("probtable");
                var items = probtable.getElementsByTagName("h2");
                var sign = items[1].textContent; 
                var signs = items[3].textContent; 

                var n=0;
                var o=0;
                if(((Math.random()*100) + 1)>50)
                    n = 1;
                if(((Math.random()*100) + 1)>50)
                    o = 1; 

                if(sign=="+"||sign=="-"){
                    var a = Math.floor((Math.random() * 98) + 1);
                    var b = Math.floor((Math.random() * 98) + 1);
                    var c = Math.floor((Math.random() * 98) + 1);

                    
                    if(n==0){
                        items[1].textContent="+";
                        result = a+b;
                    }else{
                        items[1].textContent="-";
                        if(b>a){
                            var m = a;
                            a = b;
                            b = m;
                        }
                        result = a-b;
                    }

                    if(o==0){
                        items[3].textContent="+";
                        result = result + c;
                    }else{
                        items[3].textContent="-";
                        if(c>result){
                            items[3].textContent="+";
                            result = result + c;
                        }else{
                            result = result-c;
                        }
                    }
                    
                    items[0].textContent = a;
                    items[2].textContent = b;
                    items[4].textContent = c;
                }
                if(sign=="x"|| sign=="/"){
                    var a = Math.floor((Math.random() * 60) + 1);
                    var b = Math.floor((Math.random() * 30) + 1);
                    var c = Math.floor((Math.random() * 10) + 1);

                    var probtable = document.getElementById("probtable");
                    var items = probtable.getElementsByTagName("h2");
                    if(n==0){
                        items[1].textContent="x";
                        result = a*b;
                    }else{
                        items[1].textContent="/";
                        result = a;
                        a = a*b;
                    }

                    if(o==0){
                        items[3].textContent="x";
                        result = result*c;
                    }else{
                        items[3].textContent="/";
                        if(result%c==0){
                            result = result/c;
                        }else{
                            var possdiv = [];
                            for(i=2;i<10;i++){
                                if(result%i==0){
                                    possdiv.push(i);
                                }
                            }
                            if(possdiv.length>0){
                                c = possdiv[Math.floor(Math.random() * possdiv.length)];
                                result = result/c;
                            }
                            else{
                                c = 1;
                            }
                        }
                    }
                    items[0].textContent = a;
                    items[2].textContent = b;
                    items[4].textContent = c;
                }  
                if(sign==""||sign=="%"){
                    var a = Math.floor((Math.random() * 50) + 10);
                    var b = Math.floor((Math.random() * 30) + 5);
                    var c = Math.floor((Math.random() * 8) + 3);

                    var n=0;
                    if(((Math.random()*100) + 1)>50)
                        n = 1;

                    var probtable = document.getElementById("probtable");
                    var items = probtable.getElementsByTagName("h2");
                    if(n==0){
                        items[1].textContent="x";
                        result = a*b;
                    }else{
                        items[1].textContent="/";
                        result = a;
                        a = a*b;
                    }

                    items[3].textContent="/";
                    if(result>c){
                        result = result % c;
                    }else{
                        randomNum();
                    }

                    items[0].textContent = a;
                    items[2].textContent = b;
                    items[4].textContent = c;
                }    
            }
            var totalsolved = 0;
            var highscore = 0;
            var numwrong = 0;
            function compare(){
                var answers = document.getElementById("answer").textContent;
                var probtable = document.getElementById("probtable");
                var items = probtable.getElementsByTagName("h2");
                
                if(answers.substring(2) == result){
                    //document.getElementById("currentbest").style.visibility="hidden";
                    streaknum++;
                    totalsolved++;
                    if(streaknum>highscore){
                        highscore = streaknum;
                    }
                }else{
                    //document.getElementById("currentbest").style.visibility="visible";
                    part1missed.push(items[0].textContent);
                    signmissed.push(items[1].textContent);
                    part2missed.push(items[2].textContent);
                    sign2missed.push(items[3].textContent);
                    part3missed.push(items[4].textContent);
                    kidanswer.push(document.getElementById("answer").textContent.substring(2));
                    correctanswer.push(result);
                    //alert(part1missed.toString());
                    document.getElementById("part1miss").value = part1missed.toString();
                    document.getElementById("signmiss").value = signmissed.toString();
                    document.getElementById("part2miss").value = part2missed.toString();
                    document.getElementById("sign2miss").value = sign2missed.toString();
                    document.getElementById("part3miss").value = part3missed.toString();
                    document.getElementById("kidanswer").value = kidanswer.toString();
                    document.getElementById("correctanswer").value = correctanswer.toString();
                    numwrong++;
                    streaknum=0;
                }
                //document.getElementById("totalnum").textContent = totalsolved;
                document.getElementById("hstreak").textContent = highscore;
                document.getElementById("higheststreak").value = highscore;
                document.getElementById("streaktotal").value = totalsolved;
                document.getElementById("streakhs").value = streaknum;
                document.getElementById("answer").textContent = "= ";
                document.getElementById("streak").textContent = streaknum;
                document.getElementById("numwrong").value=numwrong;

                randomNum();
            }
            randomNum();        
        </script>
    <% } %>

    <noscript>Sorry, it looks like your browser doesn't support Javascript or have it enabled.</noscript>

</body>
</html>